html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: lavender;
}

#nav-bar {
  height: 100px;
}

#icon {
  top: 20px;
  text-align: center;
}

#search {
  top: 20px;
}

#search-input {
  border-radius: 5px;
}

#form-logined {
  top: 20px;
  text-align: center;
  display: inline;
}

button#logined-username {
  background-color: white;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}
button#logined-username:hover {
  background-color: black;
  color: white;
}

button#search-submit {
  background-color: black;
  border-radius: 20px;
  color: wheat;
}

button#search-submit:hover {
  background-color: green;
  border-radius: 20px;
  color: white;
}

div#profile-form {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 100px;
  text-align: center;
  font-size: 20px;
}

button#profile-edit-button {
  float: right;
  position: relative;
  top: 50px;
  right: 150px;
  background-color: lavender;
  border-radius: 40px;
  color: white;
}
button#profile-edit-button:hover {
  color: black;
}

div#err-row {
  position: relative;
  top: 20%;
  width: 100%;
  left: 300px;
}
p#err-msg {
  font-size: 40px;
  font-weight: 900;
  /* text-align: center; */
  color: red;
}

button#icon-btn {
  float: center;
  border-radius: 20px;
  width: 150px;
  font-size: 20px;
}
button#icon-btn:hover {
  background-color: black;
  color: white;
}
button#err-btn {
  float: center;
  border-radius: 20px;
  width: 150px;
  font-size: 20px;
}
button#err-btn:hover {
  background-color: black;
  color: white;
}

p#not-login-msg {
  color: red;
  margin-top: 20px;
  font-weight: 900;
  font-size: 20px;
}

button#log-out {
  background-color: white;
  border-radius: 20px;
  font-size: 10px;
  text-align: center;
}
button#log-out:hover {
  background-color: black;
  color: white;
}
